---
import Button from "../common/Button.astro";
import Section from "../common/Section.astro";
---

<Section title="Vinkkejä pelivuoroille" centered={true}>
  <div
    class="bg-white rounded-lg shadow-md p-6 animate-on-scroll max-w-[800px] mx-auto mb-8"
  >
    <h3 class="font-heading text-xl font-bold mb-4">
      Tehdään vuoroista kaikille mieluisa
    </h3>
    <p class="mb-4">
      Sulkasadon pelivuoroilla Kangaslammin koululla on käytössä vain 5 kenttää.
      Joskus vuoroilla on ruuhkaa niin, että pelivuoroa joutuu hetken
      odottelemaan ja varsinkin kaksinpelien pelaaminen on ajottain hankalaa.
    </p>
    <p class="mb-4">
      On ymmärrettävää, että odottelu harmittaa välillä kaikkia vuorolla
      pelaavia, mutta jotta kaikilla olisi mukava pelata ja mahdollisuus saada
      riittävästi peliaikaa kaikilla vuoroilla, olemme koonneet vinkkilistan,
      jolla pelivuoroista saataisiin mahdollisimman sujuvia.
    </p>
    <Button href="#" variant="outline">Katso vinkit</Button>
  </div>
</Section>
