---
import NewsCard from "../common/NewsCard.astro";
import { news } from "../../data/news";
const sortedNews = news
  .sort(
    (a, b) =>
      new Date(b.date_created).getTime() - new Date(a.date_created).getTime()
  )
  .slice(0, 3);
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
  {
    sortedNews.map((item, index) => (
      <NewsCard key={index} {...item} image_source={item.image_source}>
        {item.Content}
      </NewsCard>
    ))
  }
</div>
