---
import Button from "../common/Button.astro";
import Section from "../common/Section.astro";
import AjankohtaistaPosts from "./Ajankohtaista.Posts.astro";
---

<Section title="Ajankohtaista" bgColor="bg-gray-50">
  <div class="mb-6">
    <AjankohtaistaPosts />
  </div>
  <div class="mx-auto w-fit">
    <Button variant="outline" href="/uutiset/" size="md">
      Katso kaikki uutiset
    </Button>
  </div>
</Section>
