---
import type { NewsItem } from "../../types";
import NewsCard from "../common/NewsCard.astro";
// await new Promise((res) => setTimeout(res, 3000));

const res = await fetch(
  "http://directus-mok00ksoo8s00ogkoo8cw8o0.10.40.31.91.sslip.io/items/Post?sort=-date_created&limit=3"
);
const data = await res.json();

const news: NewsItem[] = data.data ?? [];
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
  {
    news.map((item, index) => (
      <NewsCard
        key={index}
        {...item}
        image_source={item.image_source ?? "https://via.placeholder.com/300"}
      >
        {item.Content}
      </NewsCard>
    ))
  }
</div>
