---
import Section from "../components/common/Section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jäsenrekisteriseloste" description="Jäsenrekisteriseloste">
  <Section
    title="Jäsenrekisteriseloste"
    subtitle="Henkilötietolain (523/99 10§) mukainen rekisteriseloste"
  >
    <div class="prose max-w-none animate-on-scroll">
      <div class="mb-8">
        <h3>Rekisterinpitäjä ja yhteystiedot</h3>
        <p>Sulkasato ry (y-tunnus: 04314904)</p>
        <p>
          Katso voimassa olevat yhteystiedot seuran verkkosivuilta:
          <a href="www.sulkasato.net/yhteystiedot" target="_blank"
            >www.sulkasato.net</a
          >
        </p>
      </div>

      <div class="mb-8">
        <h3>Jäsenluetteloasioiden vastuuhenkilö</h3>
        <p>Rahastonhoitaja</p>
        <p>
          Katso voimassa olevat yhteystiedot seuran verkkosivuilta:
          <a href="https://www.sulkasato.net/yhteystiedot" target="_blank"
            >www.sulkasato.net</a
          >
        </p>
      </div>

      <div class="mb-8">
        <h3>Rekisterin nimi</h3>
        <p>Sulkasato ry:n jäsenrekisteri</p>
      </div>

      <div class="mb-8">
        <h3>Rekisterin käyttötarkoitus</h3>
        <p>
          Sulkasato ry:n jäsenrekisteriä käytetään jäsenasioiden hoitoon,
          jäsentiedotteisiin, jäsenmaksuihin sekä kokouskutsuihin ja muihin
          kohdistettuihin postituksiin.
        </p>
      </div>

      <div class="mb-8">
        <h3>Rekisterin tietosisältö</h3>
        <ul>
          <li>Nimi ja yhteystiedot, syntymäaika (ei tunnuksen loppuosaa)</li>
          <li>Jäsenyyteen liittyvät liittymisaikatiedot</li>
          <li>Alaikäisten lasten ja nuorten vanhempien yhteystiedot</li>
        </ul>
      </div>

      <div class="mb-8">
        <h3>Säännönmukaiset tietolähteet</h3>
        <p>Tiedot saadaan seuran jäseniltä.</p>
      </div>

      <div class="mb-8">
        <h3>Tietojen säännönmukaiset luovutukset</h3>
        <p>
          Sulkasato ry ei säännönmukaisesti luovuta rekisterissä olevia tietoja
          ulkopuolisille. Jäsen voi kieltää tietojen luovuttamisen ottamalla
          yhteyttä rekisterin hoitajaan.
        </p>
      </div>

      <div class="mb-8">
        <h3>Jäsenrekisterin suojauksen periaatteet</h3>
        <p>
          Rekisteriä käsitellään luottamuksellisena ja se on asianmukaisesti
          suojattu ulkopuolisilta. Pääsy rekisteritietokannan ylläpitoon on
          suojattu käyttäjätunnus- ja salasanasuojauksella. Rekisteriä ei
          säilytetä paperitulosteena.
        </p>
      </div>

      <div class="mb-8">
        <h3>Rekisterin suojaus</h3>
        <p>
          Rekisteriä hoitaa seuran jäsenkokouksen nimeämä rahastonhoitaja
          salasanalla suojatulla tietokoneella. Rekisterin käyttöoikeus on
          seuran sihteerillä, rahastonhoitajalla ja puheenjohtajalla.
        </p>
      </div>
    </div>
  </Section>
</Layout>
