---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Uutiset"
  description="Lue viimeisimmät uutiset, tapahtumat ja tiedotteet Sulkasato Iisalmi ry:ltä. Pysy ajan tasalla seuran toiminnasta, pelivuoroista ja kilpailuista."
>
  <p>Content</p>
</Layout>
