<table class="min-w-full bg-white rounded-lg overflow-hidden shadow-md">
  <thead class="bg-gray-300 text-gray-500">
    <tr>
      <th class="py-3 px-4 text-left w-1/4">Päivä</th>
      <th class="py-3 px-4 text-left w-1/4">Aika</th>
      <th class="py-3 px-4 text-left w-1/4">Paikka</th>
      <th class="py-3 px-4 text-left w-1/4">Kenelle</th>
    </tr>
  </thead>
  <tbody class="divide-y divide-gray-200">
    <tr>
      <td class="py-3 px-4"
        ><div class="h-4 bg-gray-200 rounded w-3/4"></div></td
      >
      <td class="py-3 px-4"
        ><div class="h-4 bg-gray-200 rounded w-1/2"></div></td
      >
      <td class="py-3 px-4"
        ><div class="h-4 bg-gray-200 rounded w-2/3"></div></td
      >
      <td class="py-3 px-4"
        ><div class="h-4 bg-gray-200 rounded w-full"></div></td
      >
    </tr>
    <tr>
      <td class="py-3 px-4"
        ><div class="h-4 bg-gray-200 rounded w-3/4"></div></td
      >
      <td class="py-3 px-4"
        ><div class="h-4 bg-gray-200 rounded w-1/2"></div></td
      >
      <td class="py-3 px-4"
        ><div class="h-4 bg-gray-200 rounded w-2/3"></div></td
      >
      <td class="py-3 px-4"
        ><div class="h-4 bg-gray-200 rounded w-full"></div></td
      >
    </tr>
    <tr>
      <td class="py-3 px-4"
        ><div class="h-4 bg-gray-200 rounded w-3/4"></div></td
      >
      <td class="py-3 px-4"
        ><div class="h-4 bg-gray-200 rounded w-1/2"></div></td
      >
      <td class="py-3 px-4"
        ><div class="h-4 bg-gray-200 rounded w-2/3"></div></td
      >
      <td class="py-3 px-4"
        ><div class="h-4 bg-gray-200 rounded w-full"></div></td
      >
    </tr>

    <tr>
      <td class="py-3 px-4"
        ><div class="h-4 bg-gray-200 rounded w-3/4"></div></td
      >
      <td class="py-3 px-4"
        ><div class="h-4 bg-gray-200 rounded w-1/2"></div></td
      >
      <td class="py-3 px-4"
        ><div class="h-4 bg-gray-200 rounded w-2/3"></div></td
      >
      <td class="py-3 px-4"
        ><div class="h-4 bg-gray-200 rounded w-full"></div></td
      >
    </tr>
  </tbody>
</table>
