---
import NewsCard from "../common/NewsCard.astro";
import { news } from "../../data/news";
---

{
  news.length === 0 ? (
    <div class="text-center text-gray-600 text-lg py-12 italic">
      Ei postauksia vielä.
    </div>
  ) : (
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {news.map((item, index) => (
        <NewsCard key={index} {...item} image_source={item?.image_source}>
          {item.Content}
        </NewsCard>
      ))}
    </div>
  )
}
